<ion-header>
    <ion-navbar>        
        <ion-title>{{'edit_event' | translate}}<span class="end text-theme" (click)="putCanje() ">{{'save' | translate}}</span></ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-color">
    <div class="form" padding-left padding-right>
        <ion-list no-lines padding-left padding-right>
            <div class="store_img">
               <img [src]="base64Image" *ngIf="base64Image" />      
                <ion-fab center style="bottom: 30px;" >
                  <button ion-fab style="background-color: #b9b6b6;">
                      <ion-icon name="md-camera" class="text-white bg-theme add-pic"></ion-icon>
                  </button>
                  <ion-fab-list side="left">
                    <button ion-fab (click)="AccessGallery()">
                      <ion-icon name="md-photos" class="text-white bg-theme add-pic"></ion-icon>
                    </button>
                  </ion-fab-list>
                  <ion-fab-list side="right">  
                    <button ion-fab (click)="AccessCamera()">
                      <ion-icon name="md-camera" class="text-white bg-theme add-pic"></ion-icon>
                    </button>
                  </ion-fab-list>
                </ion-fab>
            </div>
            <ion-item>
                <ion-label floating>{{'canje_name' | translate}}</ion-label>
                <ion-textarea type="text" value="" [(ngModel)]="product.Nombre"></ion-textarea>
            </ion-item>           
            <ion-item>
                  <ion-label floating>{{'event_title' | translate}}</ion-label>
                  <ion-textarea type="text" value="" [(ngModel)]="product.Descripcion"></ion-textarea>
              </ion-item>  
            <ion-item>
                  <ion-label floating>{{'categories' | translate}}</ion-label>                
                <ion-select [(ngModel)]="product.IdCategoria">>                
                      <ion-option *ngFor="let iCategoria of CategoriasLst; let i = index" [value]="iCategoria.Id" >
                          {{iCategoria.Nombre}} 
                      </ion-option>
                  </ion-select>
            </ion-item>
            <ion-row>
                <ion-col col-6>
                    <ion-item>
                        <ion-label item-start>{{'quantity' | translate}}</ion-label>
                        <div class="input_box d-flex" item-end>
                            <ion-icon class="material-icons text-black">settings</ion-icon>
                            <ion-input [(ngModel)]="product.Cantidad" type="number" value="1"></ion-input>
                        </div>
                    </ion-item>
                </ion-col>
                <ion-col col-6>
                    <ion-item>
                        <ion-label item-start>{{'price' | translate}}</ion-label>
                        <div class="input_box d-flex" item-end>
                            <ion-icon class="text-black" name="cash"></ion-icon>
                            <ion-input type="text"  [(ngModel)]="product.Importe"></ion-input>
                        </div>
                    </ion-item>
                </ion-col>
            </ion-row>
            
        </ion-list>
        <br>
        <ion-list no-lines padding-left padding-right class="listButton" >
            <button ion-button block class="btn-xs" style="background-color: #e13838;" (click)="EliminarProducto()" round>Eliminar
                <ion-icon class="material-icons text-white">delete</ion-icon>
            </button>
        </ion-list>
        
    </div>
</ion-content>
